
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 80%;
  }

  [class*="navbar-brand text-light"] {
    margin-right: 58px;
  }
}


nav {
    background-color: #5C7AEA;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
}