body{
    background-color:  hsl(227, 49%, 47%);;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 80%;
  }

  [class*="navbar-brand text-light"] {
    margin-right: 20px;
  }
}

nav {
    background-color: #5C7AEA;
}

  @media (min-width: 400px) {
    form {
      grid-template-columns: 200px 1fr;
      grid-gap: 16px;
    }

    label {
      text-align: right;
      grid-column: 1 / 2;
    }

    input,
    button {
      grid-column: 2 / 3;
    }
  }
  .jk{
      color: white;
  }

  .navbar-toggler{
    background-color: white;
    width: 47px;
    height: 34px;
    border: none;
  }


  .navbar-toggler .navbar-toggler-icon{
    background-color: #3D56B2;
    width: 100%;
    float: left;
    height: 2px;
    margin-bottom: 5px;
  }
