{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
    <div class="text-center text-light" style="margin-top: 40px;">
        <h3>Data KTP atas nama {{ nama_form | title }}, </h3>
        <h3>Dengan NIK {{ nik_form }}, </h3>
        <h3>Status: {{ status_form }}</h3>
        <h3><a href="{{ url_for('cek_ktp') }}" style="color: #FFFFFF">Kembali Ke Input Data</a></h3>
    </div>
{% endblock %}