{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Input Laporan{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
    <div class="container" style="color:#ffffff">
        <h3>Input Data Laporan</h3>
        <hr style="color:#ffffff; background-color:#ffffff">
        <form action="" method="post" class="form" role="form">
            <div class="row">
                <div class="form-group col-md-6">
                    {{ laporan_form.csrf_token() }}
                    {{ wtf.form_field(laporan_form.nik , class='form-control', placeholder=data_laporan.nik, disabled=True) }}
                    {{ wtf.form_field(laporan_form.nama , class='form-control', placeholder=data_laporan.nama, disabled=True) }}
                    <p>Jenis Kelamin</p>
                    {{ wtf.form_field(laporan_form.jk , class='form-control') }}
                    {{ wtf.form_field(laporan_form.rt , class='form-control', placeholder='Contoh. 009') }}
                    {{ wtf.form_field(laporan_form.rw , class='form-control', placeholder='Contoh. 012') }}
                    {{ wtf.form_field(laporan_form.desa , class='form-control') }}
                    {{ wtf.form_field(laporan_form.kecamatan , class='form-control', placeholder='Banjarharjo', Disabled=True) }}
                    {{ wtf.form_field(laporan_form.notelf , class='form-control', placeholder='Contoh. 087794853484') }}
                </div>
                <div class="form-group col-md-6">
                    {{ wtf.form_field(laporan_form.tanggal , class='form-control', placeholder='Contoh. Jumat, 17 Desember 2021') }}
                    <p>Kategori Laporan</p>
                    {{ wtf.form_field(laporan_form.kategory , class='form-control') }}
                    {{ wtf.form_field(laporan_form.isilaporan , class='form-control', rows=9, placeholder='Contoh. Terdapat banyak sekali jalan rusak di setiap titik di desa bandungsari yang dimana sangat menggangu sekali pengguna jalan apalagi ketika pasar pon sedang berlangsung') }}
                    {{ wtf.form_field(laporan_form.pernyataan , class='form-control', placeholder='Contoh. Laporan yang saya input merupakan Masalah yang benar adanya atau fakta') }}
                </div>
                <div style="margin-left: 15px">
                    {{ wtf.form_field(laporan_form.submit) }}
                </div>
            </div>
        </form>
        <hr style="color:#ffffff; background-color:#ffffff">
        <button type="button" class="btn btn-light"><a  href="{{ url_for('index') }}" style="text-decoration: none; color: black">Kembali</a></button>
    </div>
{% endblock %}