{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
    <div class="text-center text-light" style="margin-top: 40px;">
        <h3>Terimakasih Atas Partisipasi saudara {{ nama_form | title }}, </h3>
        <h3>Data Laporan dengan NIK {{ nik_form }} Berhasil di input, </h3>
        <h3>Tunggu dalam beberapa menit, info selanjutnya dapat dilihat di:</h3>
        <h3><a href="{{ url_for('cek_laporan') }}" style="color: #FFFFFF">Cek Status Validasi Data Laporan</a></h3>
    </div>
{% endblock %}