{% extends "baseAdmin.html" %}
{% block title %}Registration Failed{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
    <div class="text-center text-light" style="margin-top: 40px;">
        <h3>Register Gagal</h3>
        <button type="button" class="btn btn-light"><a  href="{{ url_for('secret_register') }}" style="text-decoration: none; color: black">Kembali</a></button>
    </div>
{% endblock %}