{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Register{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
    <div class="container" style="color:#ffffff">
        <h3>Input Data KTP</h3>
        <hr style="color:#ffffff; background-color:#ffffff">
        <form action="" method="post" class="form" role="form">
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_register.hidden_tag() }}
                    {{ wtf.form_field(form_register.username, class='form-control') }}
                    {{ wtf.form_field(form_register.name, class='form-control') }}
                    {{ wtf.form_field(form_register.email, class='form-control') }}
                    {{ wtf.form_field(form_register.password , class='form-control') }}
                    {% for error in form_register.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    {{ wtf.form_field(form_register.password2 , class='form-control') }}
                    {% for error in form_register.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6">
                </div>
                <div style="margin-left: 15px">
                    {{ wtf.form_field(form_register.submit) }}
                </div>
            </div>
        </form>
        <hr style="color:#ffffff; background-color:#ffffff">
        <button type="button" class="btn btn-light"><a  href="{{ url_for('index') }}" style="text-decoration: none; color: black">Kembali</a></button>
    </div>
{% endblock %}