{% extends "baseAdmin.html" %}
{% block title %}Validasi Berhasil{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
    <div class="text-center text-light" style="margin-top: 40px;">
        <h3>Data KTP dengan NIK {{ data_ktp.nik }} Berhasil di Validasi </h3>
        <button type="button" class="btn btn-light"><a  href="{{ url_for('validasi_ktp', nik=data_ktp.nik) }}" style="text-decoration: none; color: black">Kembali</a></button>
    </div>
{% endblock %}